<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
               <app-grafica-dona 
                    [titulo]= "'Sale'"
                    [doughnutChartLabels]="Labels"
                    [doughnutChartData]="data"
                    [colors]="colores">

               </app-grafica-dona>
                
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
               <app-grafica-dona 
                    [titulo]= "'gastos'"
                    [doughnutChartLabels]="Labels2"
                    [doughnutChartData]="data"
                    [colors]="colores">

               </app-grafica-dona>
                
            </div>
        </div>
    </div>
</div>